// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hashtag-block {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.new-hashtag {
  margin-top: 20px;
  margin-bottom: 100px;
}

.success-message {
  display: none;
}

.hashtag-card {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 4px;
  overflow: auto;
  height: 55px;
  span {
    height: 53px;
    line-height: 53px;
    margin-left: 6px;
    font-size: 20px;
  }
  .fa {
    line-height: 53px;
    margin: 0 6px;
  }
}