// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hashtag-block {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.new-hashtag {
  margin-top: 20px;
  margin-bottom: 100px;
}

.success-message {
  display: none;
}