// Place all the styles related to the Hashtags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hashtag-block {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.new-hashtag {
  margin-top: 20px;
  margin-bottom: 100px;
}

.success-message {
  display: none;
}

.hashtag-card {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px;
  margin: 4px;
  .fa {
    margin: 3px 5px;
  }
}